
@{
    ViewBag.Title = "ErrorInfo";
    Layout = "~/Views/Shared/Error.cshtml";
}


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    @{

        var dd = ViewData.FirstOrDefault();
        var models = dd.Value as System.Web.Mvc.HandleErrorInfo;
        if (models != null)
        {
            @models.Exception.Message;

        }
    }
</h2>
