@model MainWeb.Models.Montir

@{
    ViewBag.Title = "PrintUpah";
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<h2>Upah Montir</h2>


<div ng-app="app" ng-controller="MontriController" ng-init="Init(@Model.IdMontir, @ViewBag.Bulan)">
    <h5>Montir</h5>
    <hr />
    <div class="header">
        <div class="headerItem">
            <label>
                @Html.DisplayNameFor(model => model.NamaMontir)
            </label>
            : @Html.DisplayFor(model => model.NamaMontir)
        </div>

        <div class="headerItem">
            <label>
                Bulan
            </label>
            : {{Bulan.name}} {{Year}}
        </div>

        <hr />



    </div>

    <h5>Data Servis</h5>
    <table class="table">
        <tr>
            <th>#</th>
            <th>
                Tanggal Faktur
            </th>
            <th>
                Nomor Faktur
            </th>

            <th>
                Upah
            </th>

        </tr>
        <tbody ng-repeat="item in Datas">
            <tr style="background-color:silver">
                <td>{{$index+1}} </td>
                <td>
                    {{item.TanggalFaktur| date:'dd - MM - yyyy'}}
                </td>

                <td>
                    {{item.NomorFaktur}}
                </td>

                <td>
                    Rp. {{item.Upah |number}}
                </td>
            </tr>
            <tr ng-repeat="data in item.Datas">
                <td></td>
                <td colspan="2">{{data.Perbaikan}}</td>
                <td>Rp.{{data.Biaya|number}}</td>
            </tr>
        </tbody>



        <tr>
            <td colspan="3"><h6>Total</h6></td>
            <td><h6>Rp. {{GrandTotal(Datas) | number}}</h6></td>
        </tr>

    </table>


</div>

<script>
    angular.module("app", [])
        .controller("MontriController", function ($scope, $http) {
            $scope.Bulan = {};
            $scope.Datas = [];
            $scope.Year = new Date().getFullYear();
            $scope.Bulans =
                [
                { name: "Januari", value: 0 },
                { name: "Februari", value: 1 },
                { name: "Maret", value: 2 },
                { name: "April", value: 3 },
                { name: "Mei", value: 4 },
                { name: "Juni", value: 5 },
                { name: "Juli", value: 6 },
                { name: "Agustus", value: 7 },
                { name: "September", value: 8 },
                { name: "Oktober", value: 9 },
                { name: "Nopember", value: 10 },
                { name: "Desember", value: 11 },
                ];

            $scope.onChangeBulan = function () {
                 $scope.Datas = [];
               
            }

            $scope.Init = function (id, bulan) {


                $scope.Bulans.forEach(x => {
                    if (x.value == bulan)
                        $scope.Bulan = x;
                })

                $http(
                    {
                        url: "/api/montir/"+id,
                        method: "Get",
                    }
                ).then(x => {
                    x.data.forEach(x => {
                    var tgl = new Date(x.TanggalFaktur);
                    if (tgl.getMonth() == $scope.Bulan.value && tgl.getFullYear() == $scope.Year) {
                        $scope.Datas.push(x);
                    }
                    });

                    setTimeout(x => {
                        window.print();
                    }, 1500);
                });
            }


            $scope.GrandTotal = function (datas) {
                var d = 0;
                datas.forEach(x => {
                    d += x.Upah;
                });

                return d;
            }
        });
</script>